#!/bin/bash

set -x
env
$(aws eks --region ${region} update-kubeconfig --name ${cluster_name} --kubeconfig /tmp/${cluster_name})
export KUBECONFIG=/tmp/${cluster_name}
kubectl get ns
echo "{\"London\": \"$(curl wttr.in/London?format="%l:+%c+%t")\"}"


